.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1, 5;
  font-size: 5rem;
  font-weight: bold;
  margin-left: 25px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}
.button {
  margin-left: "25px";
  color: "blue";
}

.backgroundImage {
  width: 40%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.secondBlack {
  position: relative;
  width: 60%;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  height: 100vh;
}

.whiteLogo {
  width: 300px;
  transform: rotate(180deg);
}
